/* 
    Project 2
    Marc Picornell
    July 2022
    marc [at] marcpicornell.com
*/

/* 
    Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
    Variables
*/

/*
    Generic Selector
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #1d1d1f;
    background-color: white;
    direction: ltr;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

ul {
    list-style-type: none;
    display: block;
    background-color: #333;
    position: sticky;
}

li {
    list-style: none;
    float: left;
}

li a {
    color: white;
    text-align: center;
    padding: 8px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: #111;
}

.wrapper {
    margin: 0 auto;
}

/*
    Class Selector
*/ 

@media (min-width: 1025px) and (max-width: 1280px) {

    .wrapper {    
        max-width: 1280px;
    }
  }
  
@media (min-width: 768px) and (max-width: 1024px) {

    .wrapper {    
        max-width: 1024px;
    }
  }
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .wrapper {    
        max-width: 1024px;
    }
  }
  
@media (min-width: 481px) and (max-width: 767px) {

    .wrapper {    
        max-width: 767px;
    }
  }
  
@media (min-width: 320px) and (max-width: 480px) {

    .wrapper {
        max-width: 480px;
    }
  }
